<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet" />
</head>

<body>

    <a href="/" class="btn btn-primary">Back</a>
    <button type="button" class="btn btn-success button-space" data-toggle="modal" data-target="#addBooks">Add
        Books</button>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Book Id</th>
                <th scope="col">Book Name</th>
                <th scope="col">Author</th>
                <th scope="col">Publisher</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <%
        if(items.length!=0){
        var i=1;
        items.forEach(function(data){
        %>
            <tr>
                <td><%=data.id; %></td>
                <td><%=data.bookName %></td>
                <td><%=data.author %></td>
                <td><%=data.publisher %></td>
                <td>

                    <button type="button" class="btn btn-primary" id="<%=data.id; %>"
                        onclick="getConfirmation(this);">Edit</button>

                    <a href="/books/delete/<%=data.id%>" class="btn btn-danger">Delete</a></td>
            </tr>
            <%  i++; }) %>
            <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
            <% } %>
        </tbody>
    </table>




    <div class="modal fade bd-example-modal" id="addBooks" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form id="propertyForm" action="/books" method="post">
                        <div class="form-group row">
                            <label for="listing-title" class="col-4 col-form-label">Book Name</label>
                            <div class="col-8">
                                <input id="bookName" name="bookName" placeholder="Enter Book name"
                                    class="form-control here" type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="listing-title" class="col-4 col-form-label">Author</label>
                            <div class="col-8">
                                <input id="author" name="bookAuthor" placeholder="Enter Book Author"
                                    class="form-control here" type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="listing-title" class="col-4 col-form-label">Publisher</label>
                            <div class="col-8">
                                <input id="publisher" name="bookPublisher" placeholder="Enter Book Publisher"
                                    class="form-control here" type="text">
                            </div>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" name="submit" id="listing-submit">Add</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                </div>
                </form>
            </div>
        </div>
    </div>



    <div class="modal fade bd-example-modal" id="editBook" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form action="/books/update" method="post">
                        <input id="BookId" name="bookId" style="display: none;">
                        <div class="form-group row">
                            <label for="listing-title" class="col-4 col-form-label">Book Name</label>
                            <div class="col-8">
                                <input id="eBookName" name="eBookName" placeholder="Enter Book name"
                                    class="form-control here" type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="listing-title" class="col-4 col-form-label">Author</label>
                            <div class="col-8">
                                <input id="eAuthor" name="eBookAuthor" placeholder="Enter Book Author"
                                    class="form-control here" type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="listing-title" class="col-4 col-form-label">Publisher</label>
                            <div class="col-8">
                                <input id="ePublisher" name="eBookPublisher" placeholder="Enter Book Publisher"
                                    class="form-control here" type="text">
                            </div>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" name="submit" id="listing-submit">Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                </div>
                </form>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    <script>
        window.getConfirmation = function (ele) {

            var item = ele.id;
            localStorage.setItem("item", item);
            $.ajax({
                    type: 'get',
                    url: `/books/${item}`,
                    dataType: 'text'
                })
                .done(function (data) {
                    var result = JSON.parse(data);
                    $("#eBookName").val(result[0]["bookName"])
                    $("#eAuthor").val(result[0]["author"])
                    $("#ePublisher").val(result[0]["publisher"])
                    $("#BookId").val(result[0]["id"])

                    $("#editBook").modal();
                });

        }
    </script>
</body>

</html>