<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet" />
</head>

<body>
    <a href="/" class="btn btn-primary">Back</a>
    <button class="btn btn-success" data-toggle="modal" data-target="#addStudent">Add Student</button>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Student No.</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Action</th>

            </tr>
        </thead>
        <tbody>
            <%
        if(items.length!=0){
        var i=1;
        items.forEach(function(data){
        %>
            <tr>
                <td><%=data.id; %></td>
                <td><%=data.student_No %></td>
                <td><%=data.firstName %></td>
                <td><%=data.lastName %></td>
                <td> <button type="button" class="btn btn-primary" id="<%=data.id; %>"
                        onclick="getConfirmation(this);">Edit</button>
                    <a href="/students/delete/<%=data.id%>" class="btn btn-danger">Delete</a></td>
            </tr>
            <%  i++; }) %>
            <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
            <% } %>
        </tbody>
    </table>



    <div class="modal fade bd-example-modal" id="addStudent" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Student</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form id="propertyForm" action="/students" method="post">
                        <div class="form-group row">
                            <label for="listing-title" class="col-4 col-form-label">Student No</label>
                            <div class="col-8">
                                <input id="studentNo" name="studentNo" placeholder="Enter Student numbr"
                                    class="form-control here" type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="listing-title" class="col-4 col-form-label">First Name</label>
                            <div class="col-8">
                                <input id="fName" name="fName" placeholder="Enter First Name" class="form-control here"
                                    type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="listing-title" class="col-4 col-form-label">Last Name</label>
                            <div class="col-8">
                                <input id="lName" name="lName" placeholder="Enter Last Name" class="form-control here"
                                    type="text">
                            </div>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" name="submit" id="listing-submit">Add</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade bd-example-modal" id="editStudent" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Student</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form action="/students/update" method="post">
                        <input id="studentId" name="studentId" style="display: none;">
                        <div class="form-group row">
                            <label for="listing-title" class="col-4 col-form-label">Student No</label>
                            <div class="col-8">
                                <input id="eStudentNo" name="eStudentNo" placeholder="Enter Student No"
                                    class="form-control here" type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="listing-title" class="col-4 col-form-label">First Name</label>
                            <div class="col-8">
                                <input id="eFName" name="eFName" placeholder="Enter First Name"
                                    class="form-control here" type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="listing-title" class="col-4 col-form-label">Last Name</label>
                            <div class="col-8">
                                <input id="eLName" name="eLName" placeholder="Enter Last Name" class="form-control here"
                                    type="text">
                            </div>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" name="submit" id="listing-submit">Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    <script>
        window.getConfirmation = function (ele) {

            var item = ele.id;
            $.ajax({
                    type: 'get',
                    url: `/students/${item}`,
                    dataType: 'text'
                })
                .done(function (data) {
                    var result = JSON.parse(data);
                    $("#eStudentNo").val(result[0]["student_No"])
                    $("#eFName").val(result[0]["firstName"])
                    $("#eLName").val(result[0]["lastName"])
                    $("#studentId").val(result[0]["id"])

                    $("#editStudent").modal();
                });

        }
    </script>

</body>

</html>